[submodule "ros2_ws-src/pkg/babyk_drone_manager"]
	path = ros2_ws-src/pkg/babyk_drone_manager
	url = https://github.com/Prisma-Drone-Team/drone_manager_ldc.git
	branch = template

[submodule "ros2_ws-src/pkg/drone_odometry"]
	path = ros2_ws-src/pkg/drone_odometry
	url = https://github.com/Prisma-Drone-Team/drone_odometry.git
	branch = master

[submodule "ros2_ws-src/px4_ros_com"]
	path = ros2_ws-src/pkg/px4_ros_com
	url = https://github.com/Prisma-Drone-Team/px4_ros_com.git
	branch = release/v1.14